<header class="header">
  <a href="#" class="logo">Portfolio</a>

  <i class='bx bx-menu' id="menu-icon"></i>
  <nav class="navbar">
    <a href="#home" class="active">Home</a>
    <a href="#about">About</a>
    <a href="#services">Services</a>
    <a href="#portfolio">Portfolio</a>
    <a href="#contact">Contact</a>
  </nav>
</header>

<div class="container-fluid">
  <!-- Home Section Design -->
  <section class="home" id="home">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-12">
        <div class="home-content">
          <h3>Hello, It's Me</h3>
          <h1>Ankit Katkar</h1>
          <h4>And I'm a <span class="multiple-text"></span></h4>
        </div>
        <div class="social-media">
          <a href="https://www.linkedin.com/in/ankit-katkar-189b31211/" target="_blank">
            <i class='bx bxl-linkedin'></i></a>
          <a href="https://github.com/ankit-katkar" target="_blank"><i class='bx bxl-github'></i></a>
          <a href="#"><i class='bx bxl-instagram'></i></a>
        </div>
        <a href="../assets/Ankit Katkar Resume.pdf" target="_blank" class="btn">My Resume</a>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-12">
        <div class="home-img">
          <img src="../assets/About-Us-image.jpg" alt="">
        </div>
      </div>
    </div>
  </section>

  <!-- About Section Design -->

  <section class="about" id="about">

    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="header-text">
          <h2>About <span>Us</span></h2>
        </div>
      </div>
    </div>
    <div class="about-Content">
      <div class="row">
        <div class="col-lg-5 col-md-4 col-sm-12 col-12">
          <div class="about-img">
            <img src="../assets/About-Us-image.jpg" alt="">
          </div>
        </div>
        <div class="col-lg-7 col-md-8 col-sm-12 col-12">
          <p>
            Hello, I'm Ankit Katkar, an experienced front-end developer and
            graphic designer with a strong foundation in web development and
            an eye for aesthetics.
          </p>
          <p>
            As a front-end developer, I specialize in crafting beautiful and
            responsive websites using modern web technologies such as HTML,
            CSS, JavaScript and Angular. I have a proven track record in
            delivering intuitive, compelling websites that bring your online
            presence to life. My web design adheres to industry
            best-practices such as responsive web design, parallax
            scrolling, cross-browser compatibility and accessibility
            standards to ensure that your web content will be accessed
            seamlessly across all device types.
          </p>
          <div class="content" [ngClass]="{'expanded': isExpanded}">
            <p>
              I am also a skilled graphic designer with a deep understanding
              of color theory, typography and layout design. Be it designing
              logos, banners or UI elements, I can leverage my design
              expertise to create visually stunning, engaging web pages that
              drive web traffic to expand your online footprint.
            </p>
            <p>
              Above all, I prioritize time-bound and cost-effective delivery
              that aligns with your project objectives. I am a strong team
              player and have also led IT teams to design and build corporate
              websites and mobile apps. By hiring me, you will receive a
              slick, visually-appealing, intuitive website that showcases your
              brand to the world - all delivered on schedule and within your
              budget
            </p>
          </div>
          <button class="Aboutbtn" *ngIf="!isExpanded" (click)="toggleText()">Show more</button>
          <button class="Aboutbtn" *ngIf="isExpanded" (click)="toggleText()">Show less</button>
        </div>
      </div>
    </div>
  </section>

  <!-- Services Section design -->

  <section class="services" id="services">
    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
      <div class="header-text">
        <h2>Our <span>Services</span></h2>
      </div>
    </div>
    <div class="services-content">
      <div class="row">
        <div class="col-lg-4 col-md-12 col-sm-12 col-12">
          <div class="card">
            <div class="card-content">
              <i class='bx bxs-edit'></i>
              <h4>Graphic <span>Desing</span></h4>
              <p>
                Graphic design is a creative field focused on visually communicating ideas,
                messages, and information through, images, Layout and typography.
              </p>
              <a href="#" class="btn">Learn More</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12 col-12 service-card-margin">
          <div class="card">
            <div class="card-content">
              <i class='bx bx-code-alt'></i>
              <h4>Web <span>Development</span></h4>
              <p>
                Web development refers to the process of web applications that are accessible
                via the internet. It involves designing, building, and maintaining websites using
                a combination of programming languages and other tools.
              </p>
              <a href="#" class="btn">Learn More</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12 col-12 service-card-margin">
          <div class="card">
            <div class="card-content">
              <i class='bx bxl-angular'></i>
              <h4>Angular <span>Developer</span></h4>
              <p>
                Angular is a popular open-source JavaScript framework primarily used for building
                Signal Page Application, dynamic and responsive web applications.
              </p>
              <a href="#" class="btn">Learn More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Portfolio section design -->

  <section class="portfolio" id="portfolio">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="header-text">
          <h2>My <span>Portfolio</span></h2>
        </div>
      </div>
    </div>
    <div class="portfolio-content">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12 col-12">
          <div class="card">
            <div class="portfolio-content-box">
              <img src="../assets/Spartan-IAS-Logo.jpg" alt="">

              <div class="overlay">
                <h4>Graphic Design</h4>
                <h6>Spartan IAS</h6>
                <p><span>Skills:- </span> Graphic Design, Logo Design. </p>
                <div class="overlay-icon">
                  <a href="#" target="_blank"><i class='bx bx-link-external'></i></a>
                  <!-- <a href="#"><i class='bx bxl-github'></i></a> -->
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3  col-md-6 col-sm-12 col-12">
          <div class="card">
            <div class="portfolio-content-box">
              <img src="../assets/WatchWorld.png" alt="">

              <div class="overlay">
                <h4>Web Development</h4>
                <h6>WatchWorld</h6>
                <p><span>Skills:- </span>HTML, CSS, Bootstrap, Angular, TypeScript,
                  Rxjs, JSON-Server. </p>
                <div class="overlay-icon">
                  <a href="#"><i class='bx bx-link-external'></i></a>
                  <a href="https://github.com/ankit-katkar/WatchWorld" target="_blank">
                    <i class='bx bxl-github'></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-12 col-12">
          <div class="card">
            <div class="portfolio-content-box">
              <img src="../assets/Burgers.png" alt="">

              <div class="overlay">
                <h4>Web Development</h4>
                <h6>Burgers</h6>
                <p><span>Skills:- </span>HTML, CSS, Bootstrap, Angular. </p>
                <div class="overlay-icon">
                  <a href="#"><i class='bx bx-link-external'></i></a>
                  <a href="https://github.com/ankit-katkar/Burgers" target="_blank">
                    <i class='bx bxl-github'></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-12 col-12">
          <div class="card">
            <div class="portfolio-content-box">
              <img src="../assets/CafeCoffeeDay.png" alt="">

              <div class="overlay">
                <h4>Web Development</h4>
                <h6>Cafe Coffee Day</h6>
                <p><span>Skills:- </span>HTML, CSS, Bootstrap, Angular. </p>
                <div class="overlay-icon">
                  <a href="#"><i class='bx bx-link-external'></i></a>
                  <a href="https://github.com/ankit-katkar/Cafe-Coffee-Day" target="_blank">
                    <i class='bx bxl-github'></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
          <button class="btn">Show More</button>
        </div>
      </div>
    </div>
  </section>

  <!-- Contact Section Design -->

  <section class="contact" id="contact">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="header-text">
          <h2>Contact <span>Us</span></h2>
        </div>
      </div>
    </div>
    <div class="contact-content">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
          <div class="card">
            <h4>Contact Me</h4>
            <p>+91 7420998599</p>

            <h4>Email</h4>
            <p>ankitkatkar8@gmail.com</p>

            <div class="Social-meida">
              <a href="https://www.linkedin.com/in/ankit-katkar-189b31211/" target="_blank">
                <i class='bx bxl-linkedin'></i></a>
              <a href="https://github.com/ankit-katkar" target="_blank"><i class='bx bxl-github'></i></a>
              <a href="#"><i class='bx bxl-instagram'></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- footer section design  -->

  <div class="row">
    <div class="col-lg-12">
      <footer class="footer">
        <div class="footer-text">
          <p>@Copyright &copy; 2023 by Ankit Katkar | All Rights Reserved</p>
        </div>

        <div class="footer-iconTop">
          <a href="#home"><i class='bx bx-up-arrow-alt'></i></a>
        </div>
      </footer>
    </div>
  </div>
</div>
